footer{
	background-color: #ebebeb;
}

footer .footer-sup{
	padding: 50px 0;
}

footer .footer-inf{
	border-top: 1px solid black;
	padding: 20px 0px;
}

footer .columna{
	float: left;
	padding: 0 60px 0 0;
}
footer .columna-small{
	width: 25%;
}
footer .columna-big{
	width: 50%;
}
footer .footer-sup .columna h3{
	margin-bottom: 30px;
}
footer .footer-sup .columna ul li{
	margin-bottom: 10px;
}

footer .footer-sup .columna #social li{
	display:inline-block;
}
footer a{
	color: #646464;
}

footer a:hover{
	color: #fe0000;
}

footer .columna-big div{
	margin-bottom: 15px;
}

footer .footer-sup .support li{
	margin-bottom: 10px;
}